/* Archive Products */
#secondary.widget-areaSidebar{
  float: inherit!important;
  margin-right: 0;
  display: inline-block;
}
#primary.content-areaArchive{
  float: right;
  margin-right: 0;
}
#primary.content-area_Single{
	float: left;
	width: 100%;
}
.boxFiltros-responsivo{
	display: none;
	border: 1px solid;
	padding: 0px 10px;
	margin-bottom: 20px;
}

h3.filtros{
	font-size: 20px;
	font-family: $din;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 45px;
}
h3.filtrosMobile{
	font-size: 20px;
	font-family: $din;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 45px;
	text-align: center;
	cursor: pointer;
	border: 1px solid;
	padding: 15px;
	&:after{
		content: "\f0b0";
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		width: 20px;
		height: 20px;
		color: $cor-primaria;
		display: inline-block;
		margin-left: 15px;
		font-size: 20px;
	}
}


.headerProduct{
	width: 100%;
	padding: 15px 0;
	border-top: 1px solid $cor-primaria;
	border-bottom: 1px solid $cor-primaria;
	margin: 94px 0;
	font-size: 17.66px;
	font-family: $dinLigh;
	.storefront-sorting{
    display: inline-block;
    float: right;
    margin-bottom: 0!important;
	}
}
.woocommerce-result-count{
		float: inherit!important;
    display: inline-block;
	}
.products{
	li{
		a{
			.woocommerce-loop-product__title{
				font-family: $din;
				font-size: 18px!important;
				color: $cor-primaria;
				margin-bottom: 12px;
			}
			p.composicao_loopTitle{
				margin-bottom: 14px;
				text-transform: lowercase;
				color: $cor-primaria;
			}
			.price{
				font-size: 16.15px;
				font-family: $din;
				color: $cor-primaria!important;
			}&:hover{
				text-decoration: none;
			}
		}
		a.add_to_cart_button, .product_type_variable{
			display: none;
		}
	}
}

/* RESPONSIVO
___________________________*/
@media (max-width: 1440px ){

}
@media (max-width: 1280px ){

}

@media (max-width: 1200px ){

}

@media (max-width: 1024px ){

}

@media (max-width: 991px ){

}

@media (max-width: 768px ){


}

@media (max-width: 600px ){

	.banner-page {
    max-height: 70px;
	}

	.headerProduct{
		margin: 44px 0;
		.storefront-sorting{
			float: inherit;
		}
	}
	.widget{
		.product-categories{
			li{
				display: inline-block;
				width: 49%;
			}
		}
	}
}


@media (max-width: 550px ){
	.headerProduct{
		text-align: center;
	}

}

@media (max-width: 500px ){

}

@media (max-width: 475px ){

}

@media (max-width: 430px ){

}

@media (max-width: 375px ){

}


