/* CARRINHO Products */
.cart-collaterals{
	.cart_totals, .cart-collaterals{
    float: left!important;
    margin-left: 0!important;
    margin: 0!important;
    clear: left!important;
	}
}
.titleCarrinho{
	font-size: 20px;
	font-family: $din;
	text-transform: uppercase;
	border-bottom: 1px solid $cor-primaria;
	padding-bottom: 15px;
	span{
		text-transform: lowercase;
	}
}
.shop_table{
	th{
		text-transform: uppercase;
    background-color: transparent;
	}
}
.product-name{
	.sku_cart{
		margin-bottom: 5px;
	}
	a{
		font-family: $dinLigh;
		color: $cor-primaria;		
	}
	a.remove{
		width: 100%;
		&:before{
			content: 'x Remover produto';
	    text-align: left;
	    color: $cor-primaria;
	    font-size: 14px;
	    font-family: $dinLigh;
		}
	}
}

table.cart{
	//pagina de carrinho botao de atualizar e inserir cupom
	td.actions{
		input.button{
			display: block!important;
			margin: auto !important;
			background-color: $cor-botao;
			text-transform: uppercase;
		}
		.box-freteCupom{
			display: flex;
			flex-direction: row;
			margin-top: 78px;
			.frete-calcuator{
				width: 49.9%;
				padding-right: 20px;
				.labelfrete{
					display: block;
					text-align: left;
					text-transform: uppercase;
					font-size: 20px;
				}
				#calc_shipping_country_field{
					margin-bottom: 10px;
				}
				#calc_shipping_state_field{
					width: 50%;
					display: inline-block;
				}				
				#calc_shipping_country_field, #calc_shipping_state_field{
					text-align: left!important;
				}
				#calc_shipping_postcode_field{
					display: inline-block;
					width: 48%;
					input{
						width: 95%;
					}
				}
				.select2-container--default{
					.select2-selection--single{
						border-radius: 0;
						height: 43.767px;
						background-color: #f5f5f5;
						border: 0;				
						.select2-selection__rendered{
							line-height: 40px;
						}
						.select2-selection__arrow{
							top: 10px;
						}
					}
				}
				p .button{
					background-color: $cor-botao;
					text-transform: uppercase;
				}
			}
			.coupon{
				//display: flex!important;
				width: 49.9%;
				.labelCupom{
					display: block;
					text-align: left;
					text-transform: uppercase;
					font-size: 20px;
				}
				#coupon_code{
					display: block;
					margin-bottom: 10px;
					width: 100%;
					box-shadow: none;
				}
				input.button{
					display: block;
					margin: 0!important;
					width: 100%;
				}
			}
		}
	}
	td.product-quantity{
		.quantity{
			position: relative;

			//imput number
			input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button{
			  -webkit-appearance: none;
			  margin: 0;
			}

			input[type=number]{
			  -moz-appearance: textfield;
			}

			.quantity-nav {
			  float: left;
			  position: relative;
			  height: 65px;
			}

			.quantity-button {
			  position: relative;
			  cursor: pointer;
			  border-left: 1px solid $cor-primaria;
			  width: 40px;
			  text-align: center;
			  color: $cor-primaria;
			  font-size: 21px;
			  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
			  line-height: 1.7;
			  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  -o-user-select: none;
			  user-select: none;
			}

			.quantity-button.quantity-up {
			  position: absolute;
			  height: 50%;
			  top: 0;
			  border-bottom: 1px solid $cor-primaria;
			  .up{
			  	/* Rotate div */
				  -ms-transform: rotate(90deg); /* IE 9 */
				  -webkit-transform: rotate(90deg); /* Safari 3-8 */
				  transform: rotate(90deg);
			  }
			  
			}

			.quantity-button.quantity-down {
			  position: absolute;
			  bottom: -1px;
			  height: 50%;
			  .down{
			  	/* Rotate div */
				  -ms-transform: rotate(-90deg); /* IE 9 */
				  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
				  transform: rotate(-90deg);
				  margin-left: -1px;
			  }
			}
			
			.qty{
			background: transparent;
			box-shadow: none;
			border: 1px solid $cor-primaria;
			color: $cor-primaria;
			height: 65px;
			width: 119px!important;
			max-width: 119px!important;
			line-height: 1.65;
		  float: left;
		  display: block;
		  padding: 0;
		  margin: 0;
			padding-left: 20px;
			text-align: left;
			}
			&:after{
	    	content: '/mt';
				position: absolute;
				width: 100px;
				height: 100%;
				color: $cor-primaria;
				left: 45px;
    		top: 20px;
	    }
	    input:focus {
			  outline: 0;
			}
		}
		label{
		}
	}
	.product-thumbnail{
    padding-left: 0;
    padding-top: 5px;
		img{
	    max-width: 6.706326em!important;
	    border-radius: 50%;
		}
	}
}


.woocommerce-cart-form__cart-item.cart_item{
	td{
		background-color: transparent;
	}
}
//total do carrinho
.cart_totalsNovo{
	h2{
		text-transform: uppercase;
		font-size: 22px;
		font-family: $din;
		text-align: center;
	}
	.shop_table{
		border: 1.87px solid #bbbeb9;
		tr{
			td{
				background-color: transparent;
			}
		}
	}
	.wc-proceed-to-checkout{
		text-transform: uppercase;
		.button.checkout-button{
			font-size: 14px;
		}
		a{
			font-size: 14px;
			font-family: $dinLigh;
			&:after{
				content: '';
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
}
//checkout
table.woocommerce-checkout-review-order-table .product-name{
	width: 250px!important;
}
#shipping_method{
	li{
		label{
			font-size: 13px;
			width: 85%;
			vertical-align: -moz-middle-with-baseline;
			vertical-align: middle;
		}
	}
}
#billing_persontype_field{
	display: none;
}
#payment .payment_methods li .payment_box .wc-credit-card-form-card-number{
	background-position: right .6180469716em top 0.15em !important;
	background-size: 18px 11px !important;
}

//select forma de pagamento revenda
#forma_pagamento_field{
   overflow: hidden;
   background: url(../images/arrow_select.png) no-repeat right; 
  padding-left: 7px;
  background-size: 10px;
	select{
		background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   border: 1px solid #c0c0c0;
	border-radius: 5px;
	}
}














