
//FAQ
.faq{
	h1{
		font-family: $dinLigh;
		font-size: 24px;
		margin-top: 100px;
		text-align: left;
	}
}
.row-perguntas{
	margin-bottom: 80px;
	h2{
		font-size: 24px;
		font-family: $dinMedium;
		text-transform: uppercase;
		text-align: left;
		margin-top: 60px;
	}
	// div[data-accordion-group]{
	// 	margin-top: 30px;
	// 	border-top: 1px solid #e7e7e7;
	// 	&:last-child{
	// 		border-bottom: 1px solid #e7e7e7;
	// 	}
	// }
	.accordion{
		border-bottom: 1px solid #e7e7e7;
		padding-bottom: 1s0px;
		h3{			
			font-family: $dinLigh;
			font-size: 20px;			
			padding-top: 20px;
			&:nth-child(2){
				border-top: 0;
			}
		}
		p{
			line-height: 30px;
		}
	}
}