.header-top{
	z-index: 99;
	position: relative;
}
.console_slide{
	position: relative;
	top: 0;
  margin-top: -358.75px;
  .bx-wrapper{
    box-shadow: none;
    border: 0;
    .bx-controls.bx-has-controls-auto.bx-has-pager{
    	.bx-pager{
    		width: 100%;
    		text-align: center;
    	}
    }
  }
	.bxsliderHome{
		width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 10;
		img{
			width: 100%;
		}
	}
}
.header-fixed{
	background-color: transparent;
    padding: 50px 0;
    color: $cor-primaria;
    font-size: 16.2px;
    font-family: $din;
	position: absolute;
	width: 100%;
    z-index: 999;
    .top-redessociais{
    	ul.nav{
    		li.nav-item{
    			border: 1px solid $cor-primaria;
    			border-radius: 5px;
    			margin-left: 20px;
    			a{
    				color: $cor-primaria;
						font-size: 25.2px;
						padding: 0px 12px;
    			}
    			&:hover{
    				background-color: $cor-primaria;
    				a{
    					color: $branco;
    				}
    			}
    		}
    	}
    }
    .top-menu{
    	text-align: center;
    }
}
.header-primary{
}
.logo-principal{
	display: grid;
	padding-top: 165px;
	.logo{
		margin-right: auto;
		margin-left: auto;
	}
}
.menu-principal{
	text-align: center;
}
.banner-home{
	height: 600px;
	width: 100%;
	background-blend-mode: multiply;
}
.line_menu{
  width: 100%;
}
.chamada-home{
	h2{
		font-family: $openSans;
		font-weight: 100;
		margin: 50px 0;
	}
}
