.noPadding{
	padding: 0;
}
.noPadding-right{
	padding-right: 0;
}
.noPadding-left{
	padding-left: 0;
}
.limit-width{
	max-width: 1920px;
}
table.variations{
	display: none;
}
.woocommerce-variation-price, .woocommerce-variation-availability{
	display: none;
}