
body{
	color: $cor-primaria;
	font-family: $dinLigh;
	font-size: 16px;
}
.noPadding{
	padding: 0;
}
.noPadding-right{
	padding-right: 0;
}
.noPadding-left{
	padding-left: 0;
}
.limit-width{
	max-width: 1920px;
}
img{
  border-radius: 0;
}
table.variations{
	display: none;
}
.woocommerce-variation-price, .woocommerce-variation-availability{
	display: none;
}
.woocommerce-breadcrumb{
	font-size: 16px!important;
	font-family: $dinLigh;
	margin-top: 30px;
	margin-bottom: 30px!important;
	a{
		font-size: 16px;
		font-family: $dinLigh;
	}
}
.banner-page{
	width: 100%;
	height: 445px;
	max-height: 445px;
	display: flex;
  flex-direction: row-reverse;
  margin-top: -1px;
  .title_page{
    width: 100%;
    h1{
      line-height: 444px;
      margin: 0;
      font-size: 80px;
      font-family: $dinLigh;
    }
  }
}
.subtitlePage{
	margin-top: 125px;
	margin-bottom: 30px;
	h2{
		font-family: $dinLigh;
		font-size: 33.4px;
		text-transform: uppercase;
		letter-spacing: 5px;
		&:before{
			content: '';
			display: block;
			border-top: solid 1px black;
	    width: 15%;
			height: 1px;
			position: absolute;
			top: 105%;
			z-index: 1;
			left: -50%;
			margin-left: 1025px;
		}
	}
}
.row-instagramHome{
	margin-bottom: 30px;
}
.box_buscaModal{
	.modal-conteudo{
		padding-top: 40%;
		.search-form{
			label{
				width: 80%;
				input[type="search"]{
					height: 90px;					
    			width: 95%;
				}
			}
			input[type="submit"]{
				height: 90px;
		    width: 19%;
			}
		}
	}
}
.mais-novidades{
  text-align: center;
  a{
    padding: 10px 20px;
    background-color: $cor-botao;
    color: $branco;
    font-size: 18px;
    font-family: $dinBold;
  }
}

.countProductItem{
  position: absolute;
  margin-left: 2em;
  background-color: #383535;
  border-radius: 50px;
  padding: 3px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.semItemCart{
	font-size: 12px;
	color: $cor-primaria;
	font-family: $dinLigh;
}
//asdd carrinho banner
.listCart{
	position: absolute;
	display: none;
	background-color: #fbf9ed;
	width: 60%;
  right: 10em;
  top: 3em;
  -webkit-box-shadow: -1px 2px 10px -1px rgba(0,0,0,1);
-moz-box-shadow: -1px 2px 10px -1px rgba(0,0,0,1);
box-shadow: -1px 2px 10px -1px rgba(0,0,0,1);
  .close_moldaCart{
  	color: $cor-primaria;
  	font-family: $dinBold;
	  float: right;
	  margin-right: 20px;
	  margin-top: 10px;
	  cursor: pointer;



  }
  .boxCarrinho{
  	padding: 30px;
  	ul{
  		margin-left: 0;
  		li{
			  border-bottom: 1px solid $cor-primaria;
  			padding-bottom: 30px;
			  margin-bottom: 30px;
  			a{
  				padding: 0;
  				color: $cor-primaria;
  				img{
  					border-radius: 0;
					  width: 28%;
				    display: inline-block;
  					float: left;
  				}
  				.descriptionItemCar{
					  display: flex;
					  flex-direction: column;
					  text-align: left;
					  padding: 0 15px;
  					h4{
  						font-size: 18px;
  						font-family: $dinLigh;
  						margin-bottom: 3px;
  					}
  					p{
  						font-size: 15px;
  						font-family: $dinLigh;
  						margin-bottom: 0;
  					}
  					.unitario{}
  					.valorItem{
  						text-transform: uppercase;
  					}
  					.quantidade{}

  				}
  			}
  			.removeItemCart{
					font-size: 12px;
				  display: table;
				  padding-left: 17px;
				  color: #2b2626;
				}
  			&:last-child{
  				margin-bottom:0;
  			}
  		}
  	}
  	.totalCart{
		  display: flex;
  		flex-direction: row;
  		p{
  			font-family: $dinBold;
  			font-size: 18px;
  			text-align: left;
  			margin-top: 30px;
  			margin-bottom: 0;
			  width: 50%;

  		}
  		p.valorCartToal{
			  width: 50%;
		    text-align: right;
  		}
  	}
  	.btn_cartList{
  		display: flex;
  		flex-direction: column;
		  margin-top: 30px;
  		a{
  			text-transform: uppercase;
  			padding: 15px 30px;
  			font-size: 20px;
  			font-family: $dinLigh;
  			&:hover{
  				text-decoration: none;
  			}
  		}
  		a.verCarrinho{
  			background-color: #f0ded2;
  			color: $cor-primaria;
  			margin-bottom: 15px;
  		}
  		a.checkOut{
  			color: $branco;
  			background-color: #c8c9cd;
  		}
  	}
  }
}

/* RESPONSIVO
___________________________*/
@media (max-width: 1440px ){
  .originais .somos-originais{
    padding-left: 17%;
  }

}
@media (max-width: 1280px ){

}

@media (max-width: 1200px ){

}

@media (max-width: 1024px ){

}

@media (max-width: 991px ){

}

@media (max-width: 768px ){


}

@media (max-width: 600px ){


}