
//PARCEIROS
.subTitleArchive{
	margin: 55px 0;
	text-transform: uppercase;
	font-size: 20px;
	font-family: $dinLigh;
}
.gridItem-parceiros{
	margin-bottom: 30px;
	cursor: pointer;
	img{
		border-radius: 0;
	}
}
//MODAL PARCEIROS
.parceirosModal{
	.modal-content{
	    background-color: #fbf8ed;
      border-radius: 0;
      padding: 0 78px;
		.modal-header{
    	border: 0;
	    justify-content: flex-end;
		}
		.modal-body{
			.contentParceiro{
				p{
					font-size: 16px;
					font-family: $dinLigh;
				}
			}
			.box_galeria{
				.bx-wrapper{
					.bx-controls{
						.bx-controls-direction{
							.bx-prev{
								left: -50px;
								background: url(images/next-carrosel.png) no-repeat 0px 0px;
						    height: 43px;
							}
							.bx-next{
								right: -50px;
								background: url(images/prev-carrosel.png) no-repeat 0px 0px;
						    height: 43px;
							}
						}
					}
				}
			}
		}	
	}
}