/*woocomerce single product*/
.box_sumary{
	padding-left: 44px;
}
.single-product{
	div.product{
		.woocommerce-product-gallery{
	    padding-left: 0;
	    img{
  	    width: 100%;
	    }
			.woocommerce-product-gallery__trigger{
		    right: 2.875em!important;
			}
			.flex-control-thumbs li{
				display: inline-block;
				margin-right: 30px;
			}
		}
		p.price{
			font-size: 18px!important;
			font-family: $dinLigh;
	    margin-bottom: 48px!important;
		}
		form.cart .quantity{
			display: none!important;
		}
	}
}
h1.product_title{
		font-size: 24px;
		font-family: $dinLigh;
		color: $cor-primaria;
    letter-spacing: 1px;
    font-weight: 600;
}
.skuLaestampa{
	font-size: 15px;
	font-family: $dinLigh;
	font-weight: 700;
}
.composicao_title{
	font-size: 15px;
	margin: 10px 0 45px 0;
	font-family: $dinLigh;
  text-transform: lowercase;
}
.outrasCores{
	h2{
		border-bottom: 1px solid;
	}
}
.price-sigle{
	display: flex;
	justify-content: end;
	.price{
	  width: 55%;
	  margin: 0.2em 0!important;
	}
	.price-metro{
	  align-self: center;
	  font-family: $dinLigh;
	  font-size: 12px;
    margin-top: -33px;
	}
}
.ask-calculator{
	font-size: 16px;
	font-family: $dinLigh;
}
.calculo-metro{
	margin-top: 10px;
  margin-bottom: 20px;
	input.calculo-metros{
		width: 46%;
	}
	span{
		font-size: 18px;
		font-family: $dinLigh;
	}
}
.metragem-disponivel{
	span{
		font-family: $dinLigh;
		font-size: 16px;
	}
}
.single_variation_wrap{
	.quantity{
		input.qty{
			display: none;
		}
	}
}

.box_calculator{
	width: 70%;
  margin: 20px 0;
}
.calculadora_largura{	
	.title_calculator{
		background-color: #c0c0c0;
		padding: 5px 15px;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 0.65rem;
		margin: 0;
		color: $preto;
		i.fa{
	    margin-left: 6px;
		}
	}
}
.box_selec{
	border: 1px solid #c0c0c0;
  padding: 15px;
  text-align: center;
  .box_input{
  	margin-bottom: 25px;
  	label{
  		width: 100%;
  	}
  }
}
.metragem-disponivel{
	span{
		display: block;
		margin-bottom: 10px;
	}
}
.single_customButtom{
  width: 83.3%;
  padding: 16px 20px;
}
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .widget a.button.checkout{
	background-color: $cor-botao;
	color: #9a9ea0;
	font-size: 15px;
	font-family: $din;
	&:hover{
		background-color: #9a9ea0;
		color: $cor-botao;
	}
}
.favorito_prod{
	position: relative;
	width: 100%;
	.yith-wcwl-add-to-wishlist{
		margin: 0;
	}
	.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse{
		a{
			color: #FFFFFF;
			background-color: $cor-botao;
			padding: 10px 15px;
			display: inline-block;
			position: absolute;
			bottom: 24px;
			right: -2px;
			border-radius: 0!important;
		}
	}
	.yith-wcwl-wishlistaddedbrowse{
		a{
			color: #FFFFFF;
			background-color: #000000;
			padding: 10px 15px;
			display: inline-block;
			position: absolute;
			bottom: 24px;
			right: 0;
			border-radius: 0!important;
		}
	}
	.yith-wcwl-add-button a{
		color: #FFFFFF;
    background-color: $cor-botao;
    padding: 11px 12px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 0!important;
		i{
	    margin: 0;
	    font-size: 30px;
		}
		&:hover{
			color: $preto;
		}
	}
	.yith-wcwl-add-to-wishlist .ajax-loading{
		display: none!important;
		.yith-wcwl-wishlistaddedbrowse{
			color: $branco;
		}
	}
	.yith-wcwl-add-to-wishlist{
		display: block;
	}
}
.yith-wcwl-add-to-wishlist{
	display: none;
}

//tabs
.tabsSingle_product{
	margin: 0;
	background-color: #f8f8f8;
	border: 0;	
  margin-bottom: 50px;
  li{
  	a.nav-link{
    border-radius: 0;
    padding: 20px 20px;
    text-transform: uppercase;
    color: #9a9ea0;
    font-family: $din;
    font-size: 15.17px;
  	}
  	.nav-link.active{
  		background-color: #efdcd1;
  		border-radius: 0;
  	}
  }
}
.woocommerce-info, .woocommerce-noreviews, p.no-comments{
	background-color: #efdcd1!important;
}


