
//SOBRE
.originais{
	margin-top: 100px;
	.somos-originais{
		background-color: #fbf9ee;
		padding: 50px 0 30px 0;
    padding-left: 40%;
    padding-right: 12%;
		h2{
			font-family: $dinBold;
			font-size: 55.05px;
			color: #747d71;
			text-shadow: 0px 1px 2px rgba(98, 97, 96, 1);
			margin-bottom: 50px;
			text-transform: uppercase;
		}
		h3{
			color: #9a9ea0;
			font-family: $dinMedium;
			font-size: 22px;
			border-top: 0;
			text-transform: uppercase;
			margin-bottom: 32px;
		}
		p{
			font-size: 18px;
			font-family: $dinLigh;
			color: $cor-primaria;
		}
		p.marginLeft{
			padding-left: 15px;
		}
	}
	.img-somosOriginais{
		margin-top: 25px;
	}
}
.imagem1Right{
	background: url('../images/quemsomos/img_colum1Ritght.jpg') no-repeat top center;
	background-size: cover;
	height: 100%;
}
.imagem2Right{
	background: url('../images/imageRightcolum2.jpg') no-repeat top center;
	background-size: cover;
	height: 100%;
}
.box-imagesRightColunm1{
	img{
		border-radius: 0;
		&:nth-child(1){
			margin-bottom: 50px;
		}
	}
}
.nossosProdutos{
	margin-top: 25px;
}
.nossos-produtos{
	background-color: #fbf9ee;
	padding: 41px 0 30px 0;
  padding-left: 29.5%;
  padding-right: 12%;
	h2{
		font-family: $dinBold;
		font-size: 55.05px;
		color: #747d71;
		text-shadow: 0px 1px 2px rgba(98, 97, 96, 1);
		margin-bottom: 50px;
		text-transform: uppercase;
	}
	h3{
		color: #9a9ea0;
		font-family: $dinMedium;
		font-size: 22px;
		border-top: 0;
		text-transform: uppercase;
		margin-bottom: 32px;
	}
	p{
		font-size: 18px;
		font-family: $dinLigh;
		color: $cor-primaria;
	}
	.box_base{
    margin-bottom: 20px;
		.colunaBase{
			margin-bottom: 20px;
			display: inline-block;
	    width: 45%;
	    &:nth-child(1){
	    	border-right: 1px solid;
	    }
	    &:nth-child(2){
	    	padding-left: 10%;
	    }
		}
	}
	
}
.box-imagesRightColunm2{
	img{
		border-radius: 0;
    min-height: 819px;
	}
}
.rowpapeis{
	margin-top: 30px;
	.somos-originais{
		background-color: #fbf9ee;
		padding: 41px 0 30px 0;
    padding-left: 40%;
    padding-right: 12%;
		h2{
			font-family: $dinBold;
			font-size: 55.05px;
			color: #747d71;
			text-shadow: 0px 1px 2px rgba(98, 97, 96, 1);
			margin-bottom: 50px;
			text-transform: uppercase;
		}
		h3{
			color: #9a9ea0;
			font-family: $dinMedium;
			font-size: 22px;
			border-top: 0;
			text-transform: uppercase;
			margin-bottom: 32px;
		}
		p{
			font-size: 18px;
			font-family: $dinLigh;
			color: $cor-primaria;
		}
		p.marginLeft{
			padding-left: 15px;
		}
	}
	.img-somosOriginais{
		margin: 25px 0;
	}
}
.box-imagesRightPapel{
	background: url('../images/quemsomos/papeldeparede.jpg') no-repeat top center;
	background-size: cover;
	height: 100%;
}
.servicos{
	margin-top: 20px;
	.box-imagesRightColunm1 img:nth-child(1){
		margin-bottom: 0;
	}
}
.nossos-servicos{
	h4{
		font-size: 18px;
		font-family: $din;
		margin-bottom: 27px;
	}
	.box-imagesRightColunm1 img:nth-child(1){
		margin-bottom: 0;
	}
}
.nossosServicosRevenda{
	background: url('../images/quemsomos/fotorevenda.jpg') no-repeat top center;
	background-size: cover;
	height: 100%;
}
.nossosServicosAtacado{
	background: url('../images/quemsomos/fotoatacado.jpg') no-repeat top center;
	background-size: cover;
	height: 100%;
}
.nossosServicoscorporativo{
	background: url('../images/quemsomos/Foto_Corporativo.jpg') no-repeat top center;
	background-size: cover;
	height: 100%;
}
.atacado{
	margin-top: 20px;
	.nossos-servicos{
		padding-left: 12%;
		padding-right: 40%;
	}
	.box-imagesRightColunm1 img:nth-child(1){
		margin-bottom: 0;
		min-height: 325px;
	}
}
.coorporativo{
	min-height: 358.55px;
	padding-left: 40%;
	padding-right: 12%;
}

/* RESPONSIVO
___________________________*/
@media (max-width: 1440px ){
	.quem-somosPage{
		.banner-page{
			min-height: 325px!important;
		}
	}

}
@media (max-width: 1280px ){

}

@media (max-width: 1200px ){

}

@media (max-width: 1024px ){

}

@media (max-width: 991px ){

}

@media (max-width: 768px ){


}

@media (max-width: 600px ){

	.quem-somosPage{
		.banner-page{
			min-height: 225px!important;
		}
	}

}
@media (max-width: 550px ){
	.quem-somosPage{
		.banner-page{
			min-height: 125px!important;
		}
	}
	.originais{
		margin-top: 20px;
		.somos-originais{
			padding: 10px 0 10px 0;
			padding-left: 5%;
			padding-right: 5%;
			h2{
				font-size: 40.05px;
				text-align: center;
			}
			h3{
				text-align: center;
			}
		}
	}
	.nossos-produtos{
		padding: 20px 0 20px 0;
		padding-left: 5%;
		padding-right: 5%;
		h2{
			font-size: 40.05px;
			text-align: center;
		}
	}
	.rowpapeis{
		.somos-originais{
			padding: 20px 0 20px 0;
			padding-left: 5%;
			padding-right: 5%;
			h2{
				font-size: 40.05px;
				text-align: center;
			}
		}
	}
	//quem-somos
	.imagem1Right, 
	.imagem2Right, 
	.box-imagesRightPapel, 
	.nossosServicosRevenda, 
	.nossosServicosAtacado, 
	.nossosServicoscorporativo{
		min-height: 425px;
	}

}

@media (max-width: 500px ){

}

@media (max-width: 475px ){

}

@media (max-width: 430px ){

}

@media (max-width: 375px ){

}